{% extends "transactions/template.html" %}

{% block content %}
	<table class="table">
  		<tr>
			<th>Account Name</th>
			<th>More Details</th>
			<th>SortCode</th>
			<th>Active</th>
			<th>Template</th>
		</tr>
		{% for account in object_list %}
	  		<tr>
				<td><a href="./{{ account.id }}/">{{ account.name }}</a></td>
				<td>{{ account.account_type }}</td>
				<td>{{ account.more_details }}</td>
				<td>{{ account.is_active }}</td>
				<td>
					{% if account.bank_account_template.is_built_in %}
						{{ account.bank_account_template }}
					{% else %}
						Custom
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	<a href="./new/">New Account</a>
{% endblock %}
