{% extends "transactions/template.html" %}
{% load static %}

{% block content %}
	<h1>
		{% if adding_new_account %}
			Add Account
		{% else %}
			Edit Account
		{% endif %}
	</h1>
	<form method="POST">{% csrf_token %}
		<table class="table">
			<tbody>
				{{ account_form.as_table }}
			</tbody>
			<tbody custom-template-table>
				{{ template_form.as_table }}
			</tbody>
		</table>
		<button type="submit">Save</button>
		{% if adding_new_account == False %}
			<button name="delete" value="true" type="submit">Delete</button>
		{% endif %}
	</form>
	<script type="text/javascript" src="{% static 'transactions/edit_account.js' %}"></script>
{% endblock %}
