{% extends "transactions/template.html" %}
{% load static %}

{% block content %}

<style>

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.transaction-label-list {
  list-style: none;
}

</style>

<ul class="transaction-label-list">
  {% for label in object_list %}
    <li>
      <label>
        <input type="checkbox" name="transaction-label" value="{{ label.id }}"/> {{ label.name }}
      </label>
    </li>
  {% endfor %}
</ul>
<div graph></div>

<script src="{% static 'transactions/d3.v4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'transactions/graph2.js' %}"></script>

{% endblock %}