{% extends "transactions/template.html" %}
{% load static %}
{% load useful_tags %}

{% block content %}
	<form filter-form method="GET">
		<ul class="filter-ul">
			{{ view.get_filter_form.as_ul }}
			{% if page == None %}
				<input type="hidden" name="page" value="all">
			{% endif %}
			<li>
				<br>
				<button type="submit">Filter</button>
				<button type="button" clear-filter-button>Clear Filter</button>
				<button type="button" download-button>Download All</button>
			</li>
		</ul>
	</form>
	<ul class="filter-ul" bulk-form>
		<li>Bulk Edit (this will change all the items below)</li>
		{{ bulk_form.as_ul }}
		<li><button reset-button>Reset</button></li>
	</ul>
	<form method="POST" action="./save-labels/" transactions-form>{% csrf_token %}
		<div>
			<button type="submit">Save</button>

			<div style="float: right">
				{{ total_found }} transactions -
				{% if page == None %}
					Showing all items - <a href="javascript:gotoPage(1);">Use pageination</a>
				{% else %}
					{% if page != 1 %}
						<a href="javascript:gotoPage(1);"><<-</a>
						<a href="javascript:gotoPage({{ page|add:"-1" }});"><-</a>
					{% endif %}
					<select class="page-select" onchange="gotoPage(this.value)">
					{% for i in pages %}
						{% if i == page %}
							<option value={{ i }} selected>{{ i }}</option>
						{% else %}
							<option value={{ i }}>{{ i }}</option>
						{% endif %}
					{% endfor %}
					</select>
					of {{ pages|last }}
					{% if page != pages|last %}
						<a href="javascript:gotoPage({{ page|add:"1" }});">-></a>
						<a href="javascript:gotoPage({{ pages|last }});">->></a>
					{% endif %}
					 - <a href="javascript:gotoPage('all');">Show all</a>
				{% endif %}
			</div>
		</div>
		<table class="table">
	  		<tr>
				<th>Account</th>
				<th>Date</th>
				{% if single_account != None %}
					{% if single_account.custom_date_1_name != None %}
						<th>{{ single_account.custom_date_1_name }}</th>
					{% endif %}
					{% if single_account.custom_text_1_name != None %}
						<th>{{ single_account.custom_text_1_name }}</th>
					{% endif %}
				{% endif %}
				<th>Description</th>
				<th>Amount</th>
				<th></th>
				<th>Label</th>
				<th>Notes</th>
			</tr>
			{% for transaction in object_list %}
		  		<tr>
					<td>
						<input
							type="hidden"
							name="id"
							value="{{ transaction.0.id }}" />
						{{ transaction.0.bank_account }}
					</td>
					<td>{{ transaction.0.date|nice_date }}</td>
					{% if single_account != None %}
						{% if single_account.custom_date_1_name != None %}
							<td>{{ transaction.0.custom_date_1|nice_date }}</td>
						{% endif %}
						{% if single_account.custom_text_1_name != None %}
							<td>{{ transaction.0.custom_text_1 }}</td>
						{% endif %}
					{% endif %}
					<td>{{ transaction.0.description }}</td>
					<td>{{ transaction.0.amount }}</td>
					<td>
						{% if transaction.0.bank_account.id == -1 %}
							<a href="./manual/{{ transaction.0.id }}">Edit</a>
						{% endif %}
					</td>
					<td>
						{{ transaction.1.transaction_label }}
					</td>
					<td>
						{{ transaction.1.notes }}
					</td>
				</tr>
			{% endfor %}
		</table>
		<button type="submit">Save</button>
	</form>
	<script type="text/javascript" src="{% static 'transactions/index.js' %}"></script>
{% endblock %}
