{% extends "transactions/template.html" %}
{% load static %}
{% load useful_tags %}

{% block content %}
	<form filter-form method="GET">
		<ul class="filter-ul">
			{{ view.get_filter_form.as_ul }}
			{% if page == None %}
				<input type="hidden" name="page" value="all">
			{% endif %}
			<li>
				<br>
				<button type="submit">Filter</button>
				<button type="button" clear-filter-button>Clear Filter</button>
				<button type="button" download-button>Download All</button>
			</li>
		</ul>
	</form>
	<ul class="filter-ul" bulk-form>
		<li>Bulk Edit (this will change all the items below)</li>
		{{ view.get_bulk_form.as_ul }}
		<li><button reset-button>Reset</button></li>
	</ul>
	<form method="POST" action="./save-labels/" transactions-form>{% csrf_token %}
		<div>
			<button type="submit">Save</button>

			<div style="float: right">
				{{ total_found }} transactions -
				{% if page == None %}
					Showing all items - <a href="javascript:gotoPage(1);">Use pageination</a>
				{% else %}
					{% if page != 1 %}
						<a href="javascript:gotoPage(1);"><<-</a>
						<a href="javascript:gotoPage({{ page|add:"-1" }});"><-</a>
					{% endif %}
					<select class="page-select" onchange="gotoPage(this.value)">
					{% for i in pages %}
						{% if i == page %}
							<option value={{ i }} selected>{{ i }}</option>
						{% else %}
							<option value={{ i }}>{{ i }}</option>
						{% endif %}
					{% endfor %}
					</select>
					of {{ pages|last }}
					{% if page != pages|last %}
						<a href="javascript:gotoPage({{ page|add:"1" }});">-></a>
						<a href="javascript:gotoPage({{ pages|last }});">->></a>
					{% endif %}
					 - <a href="javascript:gotoPage('all');">Show all</a>
				{% endif %}
			</div>
		</div>
		{% include "transactions/transactions_table.html" with model=table_model only %}
		<button type="submit">Save</button>
	</form>
	<script type="text/javascript" src="{% static 'transactions/index.js' %}"></script>
{% endblock %}
