{% extends "transactions/template.html" %}

{% block content %}
	<h1>
		{% if addingNewTransaction %}
			Add Manual Transaction
		{% else %}
			Edit Manual Transaction
		{% endif %}
	</h1>
	<form method="POST">{% csrf_token %}
		<table class="table">
			{{ form.as_table }}
		</table>
		<input type="hidden" name="return-url" value="{{ request.META.HTTP_REFERER }}">
		<button type="submit">Save</button>
		{% if addingNewTransaction == False %}
			<button name="delete" value="true" type="submit">Delete</button>
		{% endif %}
	</form>
	<script>
		rome(document.getElementById('id_Date'),{inputFormat: "YYYY-MM-DD"});
	</script>
{% endblock %}