{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Finance</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static "transactions/rome.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "transactions/global.css" %}">

		<script type="text/javascript" src="{% static "transactions/rome.js" %}"></script>
		<script type="text/javascript" src="{% static "transactions/jquery-3.1.1.js" %}"></script>
		<script type="text/javascript" src="{% static "transactions/global.js" %}"></script>
	</head>
	<body>
		<nav class="nav">
			<ul class="list-nav">
				<li><a href="/transactions/">Home</a></li>
				<li><a href="/transactions/import/">Import</a></li>
				<li><a href="/transactions/manual/">Add Manual</a></li>
				<li><a href="/transactions/past-imports/">Past Imports</a></li>
				<li><a href="/transactions/graph/">Graph</a></li>
				<li><a href="/transactions/accounts/">Accounts</a></li>
			</ul>
		</nav>
		<div class='container-fluid'>
		   {% block content %}
		   {% endblock %}	
		</div>	  	
	</body>
</html>