{% extends "transactions/template.html" %}

{% block content %}
	<h1>Upload</h1>
	<form upload-form method="POST" enctype="multipart/form-data">{% csrf_token %}
		<table class="table">
			{{ form.as_table }}
		</table>
		<div upload-preview>
		</div>
		<button upload-button type="submit">Import</button>
	</form>
	
	<script>
		var uploadForm = $('form[upload-form]');
		var accountSelect = uploadForm.find("select[name=account]");
		var fileInput = uploadForm.find("input[name=file]");
		var uploadButton = uploadForm.find("[upload-button]");
		
		var onInputChange = function(){
			uploadForm.find("input[name=actually-upload]").remove();
			if(fileInput.val() !== "") {
				uploadForm.submit();
			} else {
				$("[upload-preview]").empty();
			}
		};
		
		accountSelect.change(onInputChange);
		fileInput.change(onInputChange);
		
		uploadForm.submit(function() {
			uploadButton[0].disabled = true;
			$.ajax({
				type: uploadForm.attr('method'),
			 	url:  uploadForm.attr('action'),
				data:  new FormData(uploadForm[0]),
            	cache: false,
            	contentType: false,
            	processData: false
			}).done(function(data) {
				$("[upload-preview]").html(data);
				uploadButton[0].disabled = false;
			}).fail(function(data) {
				var newDoc = document.open("text/html", "replace");
				newDoc.write("<pre>" + data.responseText + "</pre>");
				newDoc.close();
			});
			
			return false;
		});
	</script>
{% endblock %}